@import url('./header.css');
@import url('./banner.css');
@import url('./carrossel.css');
:root{
    --cor-de-fundo: #EBECEE;
    --cor-branca: #FFFFFF;
    --cor-laranja: #EB9B00;
    --cor-azul-degrade: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --cor-azul: #002F52;

    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}